<template>
  <div class="row">
    <div v-if="task" class="col s6 offset-s3">
      <h1>{{task.title}}</h1>

      <form @submit.prevent="submitHandler">
         

          <div class="chips" ref="chips"></div>

          <div class="input-field">
            <textarea id="description" class="materialize-textarea" v-model="description"></textarea>
            <label for="description">Description</label>
            <span class="character-counter" style="float: right; font-size: 12px;">{{ description.length }}/2048</span>
          </div>

          <input type="text" ref="datepicker">

          <div v-if="task.status !== 'completed'">
            <button class="btn" type="submit" style="margin-right: 10px;">Update</button>
            <button class="btn blue" type="button" @click="completeTask">Complete task</button>
          </div>

        </form>

      </div>
      <p v-else>
        Task no found
      </p>
  </div>
 
</template>

<script>
  export default {
    computed: {
      task() {
        // этот геттер надо создать в store
        return this.$store.getters.taskById(+this.$route.params.id) // привет к числу, т.к. было строкой и не получал элемент по id
      }
    },
    data: () => ({
      description: '',
      chips: null,
      date: null,
    }),
    mounted() {
      this.description = this.task.description,
      this.chips = M.Chips.init(this.$refs.chips, {
        placeholder: 'Task tags',
        data: this.task.tags
      })
      this.date = M.Datepicker.init(this.$refs.datepicker, {
        format: 'dd.mm.yyyy',
        defaultDate: new Date(this.task.date),
        setDefaultDate: true,
      })
      // чтобы код отработал после того, как плагин отработает
      setTimeout(() => {
        M.updateTextFields()
      }, 0)
    },
    methods:{
      submitHandler() {

        // debugger

        // Действия запускаются методом store.dispat
        // передаю объект в vuex, для выполнения дальнейшей логики
        this.$store.dispatch('updateTask', {
          id: this.task.id,
          description: this.description,
          date: this.date.date
        })
        // переход на страницу списка
        this.$router.push('/list')
      },
      completeTask() {
        this.$store.dispatch('completeTask', this.task.id)
        this.$router.push('/list')
      }
    },
    // вызывается, когда страниөа уничтожается
    destroyed() {
      // если есть такая переменная и у нее есть метод дестрой
      if (this.date && this.date.destroy) {
        this.date.destroy()
      }
      if (this.chips && this.chips.destroy) {
        this.chips.destroy()
      }
    }
  }
</script>

<style lang="scss" scoped>
  
</style>