<template>
	 <nav class="blue darken-3">

      <div class="nav-wrapper">
        <router-link to="/" class="brand-logo">Logo</router-link>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

        	<router-link 
        		to="/" 
        		tag="li"
        		exact
        		active-class="active">
        		<a href="#">Create</a>
        	</router-link>
        	<!-- эта ссылка будет активной только для адреса `/` (из-за exact)  -->

        	<router-link 
        		to="/list" 
        		tag="li"
        		active-class="active">
        		<a href="#">List</a>
        	</router-link>

        </ul>
        
      </div>

    </nav>
</template>

<script>
	export default{ }
</script>

<style lang="scss" scoped>
	nav {
		padding: 0 2rem;
	}
</style>